
<section class="builder">

    <div class="container px-4">
        <div class="row">
            <div class="col-lg-12 text-start mb-2 mt-2">
                <h3 class="buil-title">Discussion<span class="ms-3"><i class="bi bi-chat-dots"></i></span> </h3>
        </div>
    </div>
    <div class="col-lg-12 text-center d-flex justify-content-between border-bottom">
    
    
    
    </div>
    
    </div>
    
    
    
        <section class="cd">
          <div class="row card">
              <div class="col text-start py-3">Yesterday</div>
              <div class="col mt-2">
              <div class="im"><img src="https://i.imgur.com/OuJzVaT.png" alt="">
              
              </div>
              <div class="tx">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud . 
              </div></div>
             <div class="col date text-end"><p>20 Nov 2022 11:00 am</p></div>
              
            </div>
          
          
            <div class="row card">
              <!-- <div class="col text-start">Yesterday</div> -->
              <div class="col mt-2 res">
              
                  <div class="tx re">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud . 
                  </div>
                  <div class="im">
                  
                  <img src="https://i.imgur.com/OuJzVaT.png" alt="">
              
              </div>
              </div>
             <div class="col date text-end"><p>20 Nov 2022 11:00 am</p></div>
              
            </div>
          
          
            <div class="row card">
              <!-- <div class="col text-start">Yesterday</div> -->
              <div class="col mt-2">
              <div class="im"><img src="https://i.imgur.com/OuJzVaT.png" alt="">
              
              </div>
              <div class="tx">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud . 
              </div></div>
             <div class="col date text-end"><p>20 Nov 2022 11:00 am</p></div>
              
            </div>
          </section>
          <div class="row">

<!-- <div class="tools"  *ngIf="tools">  
  <div class="row">
    <div class="col-sm-3">audio</div>
    <div class="col-sm-3">video</div>
    <div class="col-sm-3">Document</div>
  </div>
</div> -->
            <div class="col-12">
              <div class="chat-box-tray">
                <img (click)="tool()" class="sent1" src="https://imgur.com/IE3OD3k.png" alt="">
                <input type="text" placeholder="Type your message here...">
                <img class="sent" src="https://imgur.com/irMVaK2.png" alt="">
              </div>
            </div>



          </div>
    
    
    
    </section>