
<section class="primary-footer">
    <footer class="footer" id="mainfooter">
        <div class="container-fluid">
            <div class="row" >            
                <div class="col-lg-10 text-center" >
                    <!-- <p class="mb-2">A product of Levitatingelephant</p> -->
                </div>
                <div class="col-lg-10 col-md-10 col-sm-12 dash-footer-left">
                    <ul class="footer-list">
                        <li class="nav-item line2"> A product of Levitating elephant</li>
                        <li class="nav-item line" href="https://www.orko.co/security.html#page3" target="_blank">Your data is safe on ORKO</li>
                        <!-- <li class="nav-item"><img src="../../../assets/images/header/imgpsh_fullsize_anim.png"/></li> -->
                        <li class="nav-item line"> Agreement</li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-12 dash-footer-left">
                    <ul class="footer-list">
                        <li class="nav-item">Activity log: 34min ago</li>
                        <!-- <li class="nav-item">Activity log: {{dialogservice.timeCount}}</li> -->
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    </section>